
{{#link-to 'post' post.id}}
  <h3 class="post-title-index"> {{post.title}}</h3>
  <hr>
  <br>
  <br>
  <br>
<div class="author-line text-left">{{post.author}}, {{post.date}}</div>
<p><img src={{post.image}} class="post-images"></p>
{{/link-to}}
