body {
  background-color: #a7cdf2;
}

.post-images {
  width: 320px;
  height: 217px;
  margin: 10px;
  border-style: solid;
  border-color: #4a80f5;
  border-width: 5px;
}

#brand-image {
  height: 38px;
  padding-bottom: 5px;
  padding-left: 5px;
}
