<h1>About</h1>

<p>Once upon a time at Epicodus, two brave women ventured into Ember land. It was a wild land, overrun with files. Terrified, but determined our two heroines embarked on a winding, perilous route. Going up, down, and around they made their way trough the components of thickets. They met some strange character including one called Json and one called Bower. Through perserverance and persistance they were able to tame that wilderness. These are their tales.</p>


{{#link-to 'contact'}}Tell us your story{{/link-to}}
<br>
<!-- {{#link-to '/'}}Home{{/link-to}} -->
