

<div class="row">
  {{#each model as |post-from-template|}}
  <div class="col-md-4" >
    {{post-tile post=post-from-template destroyPost="destroyPost"}}
  </div>
  {{/each}}
</div>

{{new-post save="save"}}
